$primary-color: #5f727f;
$primary-width: 1170px;
$primary-color-footer: #717c89;
$primary-color-footer-link: #00bcd4;
$font-montserrat: "Montserrat", sans-serif;
$font-source-sans-pro: "Source Sans Pro", sans-serif;
$width-on-mobile: 738px;
