* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5f727f;
    --primary-width: 1170px;
    --primary-color-footer: #717c89;
    --primary-color-footer-link: #00bcd4;
    --font-montserrat: "Montserrat", sans-serif;
    --font-source-sans-pro: "Source Sans Pro", sans-serif;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8rem;
}
body {
    margin: 0;
}

.btn {
    width: 120px;
    height: 50px;
    color: #00bcd4;
    border: 2px solid #00bcd4;
    background-color: transparent;
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.container {
    width: 1920px;
    margin: 0 auto;
}
